


<div class="container-fluid" >
    <div class="row" height="auto"> 

        <div class="d-none d-md-block col-md-5 "  style="background-color:#10b8bf">
            <br><br>
            <img src="./assets/lanube-bien.png" class="img-fluid mt-5 pt-5" alt="Imagen de una nube">
          </div>

          <div class="col-md-7 d-xs-none h100"   >

            <div class="text-center mt-4 p-4" >
                <h1>Acceso</h1>
                <p>Inserta tus datos para acceder<p>
                
            </div>
            <hr>
            <div class="row">
                <div class="offset-md-3 col-md-6  offset-2 col-8 mt-5 text-secondary">
                    <form autocomplete="off" #miFormulario="ngForm" (ngSubmit)="submitFormulario()" >
                        <div class="mb-5">
                          <label for="usuario" class="form-label">Usuario</label>
                          <input type="email" 
                          
                          [ngModel]="initForm.email" 
                          required
                          [pattern]="emailPattern" 

                          class="form-control barra-inputs" id="email" name="email" >
                          <span class="form-text text-danger"
                        *ngIf="emailValido()">
                        Introduce un correo electrónico válido
                    </span>
                        </div>
                        <div class="mb-5">
                          <label for="contraseña" class="form-label">Contraseña</label>
                          <input  type="password" 

                          [ngModel]="initForm.password"
                          required

                           class="form-control barra-inputs" id="password" name="password" >
                           <span class="form-text text-danger"
                           *ngIf="passValido()">
                        Es obligatoria la contraseña
                    </span>
                        </div>



                        <!-- <div class="mb-5 form-check">
                          <input type="checkbox" class="form-check-input " id="recordar">
                          <label class="form-check-label" for="exampleCheck1">Recordar contraseña</label>
                        </div> -->

                        <div class="mb-5 form-check">
                          <input (click)="cambiarGrises()" type="checkbox" class="form-check-input " id="grises">
                          <label class="grises" for="grises">Todo gris</label>
                        </div>
                        
                        <div class="text-center mb-2">

                          <span class="form-text text-danger"
                           *ngIf="isCorrectPass">
                        Usuario o Contraseña incorrecto
                    </span>

                        </div>
                        
                        
                        <button class="btn barra-inputs btn btn-primary " (click)="camposVacios()"
                        [disabled]="miFormulario.pending"
                        type="submit">
                    Entrar
                </button>
                       
                      </form>
                </div>
            </div>
            
          </div>



    </div>
</div>